{
  "zk": "{{mesos_zookeeper_masters}}",
  "refreshSeconds": 60,
  "ttl": 240,
  "domain": "m.sensetif.net",
  "port": 53,
  "resolvers": ["85.25.128.10","85.25.255.10"],
  "timeout": 5,
  "email": "root.mesos-dns.sensetif.com",
  "httpport":8181,
  "httpon":true
}
